/* Neon Blue (#1E90FF) - A glowing, futuristic blue.
Cyber Purple (#8A2BE2) - Adds a mysterious time-travel feel.
Deep Space Black (#121212) - Dark background for contrast.
Retro Gold (#FFD700) -  Gives a vintage sci-fi touch.
Time Warp Orange (#FF4500) - For buttons and warnings.
Electric Teal (#00CED1) – Used for glowing UI elements and links. */
fieldset{
    background-color: #121212;
    border: #FF1493 medium groove;
    color: whitesmoke;
}
td{
    border:#FF1493 medium dotted;
    color: whitesmoke;
}
.btn{
    background-color: #121212;
    color: #FF1493;
}
body{
    background-color: #121212;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    text-align: right;
    border-bottom: #1E90FF thick ridge;
}

ul{
    border-bottom: #FF1493 medium groove;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

li{
    display: inline;
    margin: 5em;
}

a{
    color: #FF1493;
}

header{
    text-align: center;
    font-size: 150%;
}

h1{
    color: #8A2BE2;
    letter-spacing: 0.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#homeMain{
    display: flex;
}

#homeMain article{
    flex: 1;
    margin: 2.5em;
    text-align: center;
    color: #1E90FF;
}

#homeMain article img{
    height: 375px;
    width: 100%;
    border-color: #FF1493;
    border-style:inset;
    padding: 0.5em;
}

#TravelerStories{
    display: flex;
    flex-wrap: wrap;  
}

#TravelerStories div{
    flex: 1 25%;
    color: whitesmoke;
    margin: 3em;
}

h4{
    font-style: italic;
    color: #1E90FF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#move{
    order: 6;
}
.label{
    font-weight: bold;
    font-size: larger;
    
}
.heading{
    color: #1E90FF;
    text-align: center;
}
.choice{
    color: #1E90FF;
}
#quoteOutput{
    text-align: center;
}
#btn{
    align-items: center;
    background-color: #121212;
    color: #FF1493;
    padding: 5px 24;
}
.btn{
    text-align: center;
}

